<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="user" class="com.chan.news.domain.User">
		<property name="id" value="100" />
		<property name="name" value="test" />
		<property name="email" value="emailtest" />
		<property name="pass" value="password" />
	</bean>

	<bean id="newsService" class="com.chan.news.service.impl.NewsService">
	</bean>
	<bean id="newsDao" class="com.chan.news.dao.impl.NewsDao">
	</bean>
</beans>